body{
    background: #eee;
}
form{
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}
input{
    display: block;
    margin: 10px auto;
    padding: 4px;
}
.success{
    border: 4px solid limegreen;
    /* background: lightgreen; */
}
.error{
    border: 4px solid crimson;
    /* background: lightcoral; */
}